* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.accueil {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("image/resto-accueil.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url("image/resto-accueil.jpg");
}

.header {
  position: relative;
  height: 9.6rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__box-img {
  position: absolute;
  left: 30rem;
}

.header__img {
  height: 10rem;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

.header__nav {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding-top: 3.3rem;
}

.header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
  font-size: 1.8rem;
}

.header__list-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__list-item a:hover {
  border-bottom: 1px solid #fff;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem;
}

.welcome h1 {
  font-size: 5rem;
  margin-bottom: 1.2rem;
}

.welcome h1 .resto-name {
  color: #cda45e;
}

.welcome h2 {
  font-weight: 400;
  margin-bottom: 4rem;
}

.welcome .btns a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background: none;
  border: 2px solid #cda45e;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.welcome .btns a:hover {
  background-color: #cda45e;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  position: relative;
  margin-top: auto;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer__logo {
  position: absolute;
  top: 2rem;
  left: 4rem;
  height: 15rem;
  border-radius: 100px;
}

.reseaux {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-footer {
  font-size: 4.2rem;
  color: #fff;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

h1 {
  color: #cda45e;
  text-align: center;
  font-family: "Rallway";
}

form {
  width: 50%;
  margin: auto;
}

form label {
  margin: 20px;
  font-size: 1.5em;
  color: #ffffff;
}

form legend {
  color: #ffffff;
  text-align: center;
}

form input {
  margin-left: 20px;
}

.fieldset2 {
  margin: 20px;
}

textarea {
  width: 99%;
  height: 300px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

button {
  font-size: 2em;
  color: #ffffff;
  margin-left: 270px;
  margin-bottom: 10px;
  padding: 10px;
}

.button-submit, .button-reset {
  background-color: #3bfc3b;
}

.button-submit:hover, .button-reset :hover {
  background-color: green;
}

.button-reset {
  background-color: #ff7c7c;
}

.button-reset:hover {
  background-color: red;
}
/*# sourceMappingURL=contact.css.map */