@import "../template.scss";
@import "menuVariables";


.restaurantMenu {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    .menuHeader {
        font-size: 36;
        text-align: center;
        grid-column: 2 / span 2;
        grid-row: 1;

        h4 {
            font-size: 18;
        }
    }
    h2{
        font-size: 56px;
    }
    hr {
        height: 2px;
        width: 70px;
        position: relative;
        background: $colorPrimary;
        border: 0;
    }

    .menuSection1 {
        @include menuSection;
        grid-column: 2;
        grid-row: 2;
    }

    .menuSection2 {
        grid-column: 3;
        grid-row: 2;
        @include menuSection;
    }

    .menuSection3 {
        grid-column: 2;
        grid-row: 3;
        @include menuSection;
    }

    .menuSection4 {
        grid-column: 3;
        grid-row: 3;
        @include menuSection;
    }

    .menuItem {
        @include menuItem;
    }

    .menuItemName {
        @include menuItemName;
    }

    .menuItemPrice {
        @include menuItemPrice;
    }

    .menuItemDescription {
        @include menuItemDescription;
    }
}